services:
  realtime-app:
    build:
      context: ../../..
      dockerfile: ./deploy/realtime/production/Dockerfile
    container_name: realtime-app-prod
    ports:
      - "8087:8081"
      - "8097:8091"
    networks:
      - rankr-shared-development-network
    env_file:
      - ./.env.production
    environment:
      - CONFIG_PATH=/app/deploy/realtime/production/config.yml
      - ENV=production

networks:
  rankr-shared-development-network:
    external: true
    name: rankr-shared-development-network