http_server:
  host: ""
  port: 8081
  shutdown_context_timeout: 10s

rpc_server:
  host: ""
  port: 8070
  network_type: "tcp"

grpc_client:
  contributor:
    address: "contributor-app:8093"
    grpc_service_name: "contributor"
    timeout: 30s
    max_retries: 3
    retry_backoff: 100ms
  
  leaderboardscoring:
    address: "leaderboardscoring-app:8091"
    grpc_service_name: "leaderboardscoring"
    timeout: 30s
    max_retries: 3
    retry_backoff: 100ms

scheduler_cfg:
  snapshot_crontab: "0 */3 * * *"
  snapshot_job_context_timeout: 15m



redis:
  host: "shared-redis"
  port: 6379
  password: ""
  db: 0

watermill_nats:
  url: "nats://shared-nats:4222"
  client_id: "leaderboardscoring"
  durable_name: "leaderboardscoring-consumer"
  queue_group: "event-group"

  ack_wait_timeout: 5m
  max_inflight: 10
  connect_timeout: 30s
  reconnect_wait: 5s
  ping_interval: 30s
  max_pings_out: 1

  use_jetstream: false

logger:
  level: "debug" # Can be `debug`, `info`, `warn`, `error`
  file_path: "logs/leaderboardscoringapp/service.log"
  use_local_time: true
  file_max_size_in_mb: 10
  file_max_age_in_days: 7

raw_event_consumer:
  processed_key_ttl: 24h
  lock_key_ttl: 5m
  prefix_processed_key: "processed_events"
  prefix_lock_key: "lock"

database_retry:
  max_retries: 3
  retry_delay: 100ms

nats_adapter:
  url: "nats://shared-nats:4222"
  max_reconnects: -1
  reconnect_wait: 1s

  # Stream settings
  max_messages: 100000
  max_bytes: 1073741824
  max_age: 24h
  storage_type: "memory"
  replicas: 1
  retention_policy: "workqueue"

pull_consumer:
  durable_name: "batch-processor"
  batch_size: 500
  max_wait: 5s
  max_deliver: 20
  ack_wait: 1m

batch_processor:
  tick_interval: 10s
  metrics_interval: 30s

total_shutdown_timeout: 30m

path_of_migration: "./leaderboardscoringapp/repository/database/migrations"

postgres_db:
  host: shared-postgres
  port: 5432
  user: leaderboardscoring_user
  password: change_me_leaderboardscoring
  db_name: leaderboardscoring_db
  ssl_mode: disable
  max_conns: 25  
  min_conns: 5  
  max_conn_lifetime: 300
  max_conn_idle_time: 60
  health_check_period: 60
