http_server:
  host: ""
  port: 8081
  shutdown_context_timeout: 10s

rpc_server:
  host: ""
  port: 8091
  network_type: "tcp"

scheduler_cfg:
  snapshot_crontab: "0 */3 * * *"
  snapshot_job_context_timeout: 15m

redis:
  host: "localhost"
  port: 6380
  password: ""
  db: 0

watermill_nats:
  url: "nats://localhost:4223"
  client_id: "leaderboardscoring"
  durable_name: "leaderboardscoring-consumer"
  queue_group: "event-group"
  ack_wait_timeout: 5m
  max_inflight: 10
  connect_timeout: 30s
  reconnect_wait: 5s
  ping_interval: 30s
  max_pings_out: 1
  use_jetstream: true

logger:
  level: "debug"
  file_path: "logs/leaderboardscoringapp/service.log"
  use_local_time: true
  file_max_size_in_mb: 10
  file_max_age_in_days: 7

raw_event_consumer:
  processed_key_ttl: 24h
  lock_key_ttl: 5m
  prefix_processed_key: "processed_events"
  prefix_lock_key: "lock"

database_retry:
  max_retries: 3
  retry_delay: 100ms

nats_adapter:
  url: "nats://localhost:4223"
  max_reconnects: -1
  reconnect_wait: 1s
  max_messages: 10000000
  max_bytes: 10737418240
  max_age: 24h
  storage_type: "file"
  replicas: 1
  retention_policy: "workqueue"

pull_consumer:
  durable_name: "batch-processor"
  batch_size: 500
  max_wait: 5s
  max_deliver: 20
  ack_wait: 1m

batch_processor:
  tick_interval: 10s
  metrics_interval: 30s

total_shutdown_timeout: 30m

stream_name_raw_events: "rankr_raw_events"

path_of_migration: "./leaderboardscoringapp/repository/database/migrations"

postgres_db:
  host: localhost
  port: 5439
  user: leaderboardscoring_user
  password: change_me_leaderboardscoring
  db_name: leaderboardscoring_db
  ssl_mode: disable
  max_conns: 25  
  min_conns: 5  
  max_conn_lifetime: 300
  max_conn_idle_time: 60
  health_check_period: 60
