services:
  task-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rankr-task-service
    environment:
      DB_HOST: rankr-shared-postgres
      DB_PORT: 5432
      DB_USER: project_user
      DB_PASSWORD: project_pass
      DB_NAME: tasks
    depends_on:
      rankr-shared-postgres:
        condition: service_healthy
    networks:
      - rankr-shared-development-network
    volumes:
      - ./:/home/app
    restart: unless-stopped

networks:
  rankr-shared-development-network:
    external: true

volumes:
  project-data:
