services:
  project-app:
    build:
      context: ../../.. # Build from the project root
      dockerfile: ./deploy/project/development/Dockerfile
    container_name: project-app
    volumes:
      - ./config.yml:/app/config.yml # Mount the config file
    ports:
      - "8086:8081" # HTTP port
      - "8096:8091" # gRPC port
    networks:
      - rankr-shared-development-network
    environment:
      - CONFIG_PATH=/app/config.yml
      - project_POSTGRES_DB_HOST=shared-postgres
      - project_POSTGRES_DB_USER=project_user
      - project_POSTGRES_DB_PASSWORD=project_pass
      - project_POSTGRES_DB_NAME=project_db
      - project_POSTGRES_DB_PORT=5432
      - project_REDIS_HOST=shared-redis
      - project_NATS_URL=nats://shared-nats:4222
    command: [ "/app/main", "serve" ]
networks:
  rankr-shared-development-network:
    external: true
