services:
  project-app:
    build:
      context: ../../.. # Build from the project root
      dockerfile: ./deploy/project/development/Dockerfile
    container_name: project-app
    volumes:
      - ../../..:/app
    ports:
      - "8084:8084" # HTTP port
      - "8094:8094" # gRPC port
    networks:
      - rankr-shared-development-network
    env_file:
      - ./.env.development
    environment:
      - CONFIG_PATH=/app/deploy/project/development/config.yml
    entrypoint: [ "air", "-c", "/app/.air/.air.projects.toml" ]
networks:
  rankr-shared-development-network:
    external: true
