services:
  # The main application service
  auth-app:
    build:
      context: ../../.. # Build from the project root
      dockerfile: ./deploy/auth/development/Dockerfile
    container_name: auth-app
    volumes:
      - ./config.yml:/app/config.yml # Mount the config file
    ports:
      - "8080:8082" # HTTP port
      - "8090:8092" # gRPC port
    networks:
      - rankr-shared-development-network
    environment:
      - CONFIG_PATH=/app/config.yml
      - auth_POSTGRES_DB_HOST=shared-postgres
      - auth_REDIS_HOST=shared-redis
      - auth_NATS_URL=nats://shared-nats:4223
    command: [ "/app/main", "serve", "--migrate-up" ]

networks:
  rankr-shared-development-network:
    external: true