services:
  auth-app:
    build:
      context: ../../.. 
      dockerfile: ./deploy/auth/development/Dockerfile
    container_name: auth-app
    volumes:
      - ../../..:/app
    networks:
      - rankr-shared-development-network
    env_file:
      - ./.env.development
    environment:
      - CONFIG_PATH=/app/deploy/auth/development/config.yml
      - ENV=development
      - DEV_USER_ID=1
    entrypoint: [ "air", "-c", "/app/.air/.air.auth.toml" ]


networks:
  rankr-shared-development-network:
    external: true
    name: rankr-shared-development-network
