services:
  # The main application service
  auth-app:
    build:
      context: ../../.. # Build from the project root
      dockerfile: ./deploy/auth/development/Dockerfile
    container_name: auth-app
    volumes:
      - type: bind
        source: ${PROJECT_ROOT:-.}/deploy/auth/development/config.yml # Set PROJECT_ROOT when running outside repo root
        target: /app/config.yml
        bind:
          create_host_path: false
    ports:
      - "8081:8081" # HTTP port
      - "8091:8091" # gRPC port
    networks:
      - rankr-shared-development-network
    env_file:
      - ./.env.development
    environment:
      - CONFIG_PATH=/app/config.yml
      - auth_POSTGRES_DB_HOST=${AUTH_POSTGRES_DB_HOST}
      - auth_POSTGRES_DB_USER=${AUTH_POSTGRES_DB_USER}
      - auth_POSTGRES_DB_PASSWORD=${AUTH_POSTGRES_DB_PASSWORD}
      - auth_POSTGRES_DB_NAME=${AUTH_POSTGRES_DB_NAME}
      - auth_POSTGRES_DB_PORT=${AUTH_POSTGRES_DB_PORT}
      - auth_REDIS_HOST=${AUTH_REDIS_HOST}
      - auth_NATS_URL=${AUTH_NATS_URL}
    command: [ "/app/main", "serve", "--migrate-up" ]

# Shared network is created by `deploy/script/start_infrastructure.sh up-base`
# or `make infra-up` before running this service.
networks:
  rankr-shared-development-network:
    external: true
    name: rankr-shared-development-network
