services:
  auth-service:
    build:
      context: .
      dockerfile: ./deploy/auth/development/Dockerfile
    image: rankr-auth:development
    command: /bin/auth serve --migrate-up
    networks:
      - rankr-net
    depends_on:
      auth-db:
        condition: service_healthy
      auth-redis:
        condition: service_healthy
    volumes:
      - ./:/home/app
    environment:
      - CONFIG_PATH=/home/app/deploy/auth/development/config.yml
      - GRPC_NETWORK_TYPE=tcp
      - GRPC_PORT=8090
    ports:
      - "5009:5009" # HTTP
      - "8090:8090" # gRPC
    restart: unless-stopped

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_USER: auth_admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    networks:
      - rankr-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth_admin -d auth_db"]
      interval: 5s
      retries: 5

  auth-redis:
    image: redis:7
    container_name: auth-redis
    command: ["redis-server", "--requirepass", "password1999"]
    ports:
      - "6379:6379"
    networks:
      - rankr-net
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "password1999", "ping"]
      interval: 5s
      retries: 5

networks:
  rankr-net:
    name: rankr-development-network
    external: false
